{% extends "viz/index.html" %}
{% block nav %}{% endblock %}
{% block content %}
    <h1 id="subTitle">Superfund Sites</h1>

    {% if tracts_site_list %}
    <ul>

      {% for site in tracts_site_list %}
        {% if forloop.first %}<div class="row">{% endif %}
        
          {% if site.formatted_address == "" %}
          {% else %}
          <div class="col-sm-6" id="siteCard">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{site.formatted_address}}</h5>
                <p class="card-text">EPA ID: {{site.epa_id}}</p>
                <p class="card-text">This site is in Tract {{site.tract_id}} has an average income of ${{site.income}}</p>
                {% if site.npl_status == "" %}
                {% else %}
                <p class="card-text">National Priorities List Status: {{site.npl_status}}</p>
                {% endif %}
              </div>
            </div>
          </div>
          {% endif %}

        {% if forloop.counter|divisibleby:2 %}</div><div class="row">{% endif %}
        {% if forloop.last %}</div>{% endif %}
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no sites.</p>
    {% endif %}       
{% endblock %}